/*Reset*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


/*General*/

img{

    max-width: 100%;

}

.category > ul li a,
.icon-nav > a{

    text-decoration: none;
    color: white;

}

.category > ul li:nth-child(2),
.icon-nav > a:nth-child(2){

    padding: 0 10px;

}

.text-red{

    color: red;
}

.text-line-through{

    text-decoration-line: line-through;
}

.info > div:nth-child(2),
.text-red{

    font-weight: bold;

}



/*Header*/

header{

    background-color: #FF6900;

}

.navigation{

    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    padding: 0 20px;
 
}

.category > ul{

    display: flex;
    list-style: none;
    
}


.logo{

    width: 100px;
}




/*Main*/

.container{

    width: 80%;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    
    

}

.poster-card{
     
    display: flex;
    flex-wrap: wrap;
    
    
}
.card{

    width: calc(100% / 3);
    padding: 10px 20px;
    
}

.card .info{

    padding-top: 10px;
    

}

.card-img{

    position: relative;
    

}

.heart{

    background-color: white;
    width: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.3rem;
    position: absolute;
    top: 5px;
    right: 0;

}

.discount{

    background-color: red;
    color: white;
    width: 40px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    bottom: 20px;
    left: 0;

}

/*Footer*/



/*Debug*/

