/*Reset*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


/*General*/

img{

    max-width: 100%;

}

.first-img{

    position: absolute;
    
}

a{
    text-decoration: none;
}

li, a, h4, h5{
    color: white;

}

.category > ul li:nth-child(2),
.icon-nav > a:nth-child(2){

    padding: 0 10px;

}

.text-red{

    color: red;
}

.text-line-through{

    text-decoration-line: line-through;
}

.info > div:nth-child(2),
.text-red{

    font-weight: bold;

}




/*Header*/

header{

    width: 100%;
    background-color: #FF6900;
    position: fixed;
    z-index: 1;
}

.navigation{

    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    padding: 0 20px;
 
}

.category > ul{

    display: flex;
    list-style: none;
    
}


.logo{

    width: 100px;
}




/*Main*/

.container{

    width: 80%;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    
    

}

.poster-card{
     
    display: flex;
    flex-wrap: wrap;
    
    
}
.card{
    
    width: calc(100% / 3);
    padding: 30px 20px;
    
    
}

.card-img{

    position: relative;

}

.card-img .first-img:hover{

    display: none;
    
}


.info{

    padding-top: 10px;
    
}

.heart{

    background-color: white;
    width: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.3rem;
    position: absolute;
    top: 5px;
    right: 0;

}

.heart:hover{
    
    
    color:red;

}

.info-dress{

    display: flex;
    position: absolute;
    bottom: 30px;
    left: 0;

}

.discount{

    background-color: red;
    color: white;
    width: fit-content;
    padding: 5px;
    margin-right: 5px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    
    

}

.sustainable{

    background-color: green;
    color: white;
    width: fit-content;
    padding: 5px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
}



/*Footer*/

footer{
    
    background-color: #1A1A1A;
    padding: 30px 0;
}

.info-footer{

    display:flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    padding: 0 20px;
    
}

.social-icon ul {

    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: 10px;
    
}

.right-footer h4{

    padding-bottom: 10px;

}

.right-footer a{

    padding-right: 10px;

}


/*Debug*/

